<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="110"/>
<entry key="0" type="xstring" value="Document"/>
<entry key="1" type="xstring" value="build"/>
<entry key="2" type="xstring" value="architectur"/>
<entry key="3" type="xstring" value="leica"/>
<entry key="4" type="xstring" value="l35d800lyo15"/>
<entry key="5" type="xstring" value="night"/>
<entry key="6" type="xstring" value="upload"/>
<entry key="7" type="xstring" value="squar"/>
<entry key="8" type="xstring" value="squareformat"/>
<entry key="9" type="xstring" value="iphoneographi"/>
<entry key="10" type="xstring" value="instagramapp"/>
<entry key="11" type="xstring" value="byinstagram"/>
<entry key="12" type="xstring" value="foursquar"/>
<entry key="13" type="xstring" value="lyonconflu"/>
<entry key="14" type="xstring" value="perrach"/>
<entry key="15" type="xstring" value="fourvièr"/>
<entry key="16" type="xstring" value="saint"/>
<entry key="17" type="xstring" value="lyonkirch"/>
<entry key="18" type="xstring" value="f2d800paroiss"/>
<entry key="19" type="xstring" value="catholiqu"/>
<entry key="20" type="xstring" value="nizier"/>
<entry key="21" type="xstring" value="muséedesconflu"/>
<entry key="22" type="xstring" value="musé"/>
<entry key="23" type="xstring" value="hockei"/>
<entry key="24" type="xstring" value="lyoncharlemagn"/>
<entry key="25" type="xstring" value="lion"/>
<entry key="26" type="xstring" value="liguemagnu"/>
<entry key="27" type="xstring" value="bridg"/>
<entry key="28" type="xstring" value="place"/>
<entry key="29" type="xstring" value="street"/>
<entry key="30" type="xstring" value="citi"/>
<entry key="31" type="xstring" value="light"/>
<entry key="32" type="xstring" value="europ"/>
<entry key="33" type="xstring" value="rhone"/>
<entry key="34" type="xstring" value="rue"/>
<entry key="35" type="xstring" value="the"/>
<entry key="36" type="xstring" value="rhône"/>
<entry key="37" type="xstring" value="bellecour"/>
<entry key="38" type="xstring" value="blackandwhit"/>
<entry key="39" type="xstring" value="noiretblanc"/>
<entry key="40" type="xstring" value="art"/>
<entry key="41" type="xstring" value="photographi"/>
<entry key="42" type="xstring" value="francia"/>
<entry key="43" type="xstring" value="starwar"/>
<entry key="44" type="xstring" value="starwarsident"/>
<entry key="45" type="xstring" value="basiliqu"/>
<entry key="46" type="xstring" value="nuit"/>
<entry key="47" type="xstring" value="presquîl"/>
<entry key="48" type="xstring" value="fourvier"/>
<entry key="49" type="xstring" value="urban"/>
<entry key="50" type="xstring" value="saôn"/>
<entry key="51" type="xstring" value="river"/>
<entry key="52" type="xstring" value="pont"/>
<entry key="53" type="xstring" value="confluenc"/>
<entry key="54" type="xstring" value="passerel"/>
<entry key="55" type="xstring" value="fêtesdeslumières2013"/>
<entry key="56" type="xstring" value="patrimoin"/>
<entry key="57" type="xstring" value="sculptur"/>
<entry key="58" type="xstring" value="beaux-art"/>
<entry key="59" type="xstring" value="muséedesbeauxartsdelyon"/>
<entry key="60" type="xstring" value="lumix"/>
<entry key="61" type="xstring" value="panason"/>
<entry key="62" type="xstring" value="muséedesbeauxartslyon"/>
<entry key="63" type="xstring" value="terreaux"/>
<entry key="64" type="xstring" value="roller"/>
<entry key="65" type="xstring" value="lugdunumrollercontest2015"/>
<entry key="66" type="xstring" value="quai"/>
<entry key="67" type="xstring" value="lumièr"/>
<entry key="68" type="xstring" value="dmc-fz1000"/>
<entry key="69" type="xstring" value="fz1000panasoniclumixfz1000dmcfz1000"/>
<entry key="70" type="xstring" value="jacobin"/>
<entry key="71" type="xstring" value="saon"/>
<entry key="72" type="xstring" value="photo"/>
<entry key="73" type="xstring" value="feu"/>
<entry key="74" type="xstring" value="fête"/>
<entry key="75" type="xstring" value="gare"/>
<entry key="76" type="xstring" value="week"/>
<entry key="77" type="xstring" value="game"/>
<entry key="78" type="xstring" value="syracus"/>
<entry key="79" type="xstring" value="binghamton"/>
<entry key="80" type="xstring" value="senat"/>
<entry key="81" type="xstring" value="hockeyweek"/>
<entry key="82" type="xstring" value="ahlcrunch"/>
<entry key="83" type="xstring" value="match"/>
<entry key="84" type="xstring" value="utica"/>
<entry key="85" type="xstring" value="comet"/>
<entry key="86" type="xstring" value="preseason"/>
<entry key="87" type="xstring" value="artific"/>
<entry key="88" type="xstring" value="5ème"/>
<entry key="89" type="xstring" value="placebellecour"/>
<entry key="90" type="xstring" value="boottocht"/>
<entry key="91" type="xstring" value="lyonfr69"/>
<entry key="92" type="xstring" value="marathon"/>
<entry key="93" type="xstring" value="matin"/>
<entry key="94" type="xstring" value="nocturn"/>
<entry key="95" type="xstring" value="tôt"/>
<entry key="96" type="xstring" value="dimanch"/>
<entry key="97" type="xstring" value="earlysundaymorn"/>
<entry key="98" type="xstring" value="jacquesmeynierdemalvialatôtundimanchematin"/>
<entry key="99" type="xstring" value="Document class"/>
<entry key="100" type="xstring" value="lat"/>
<entry key="101" type="xstring" value="long"/>
<entry key="102" type="xstring" value="title"/>
<entry key="103" type="xstring" value="date_taken_minute"/>
<entry key="104" type="xstring" value="date_taken_hour"/>
<entry key="105" type="xstring" value="date_taken_day"/>
<entry key="106" type="xstring" value="date_taken_month"/>
<entry key="107" type="xstring" value="date_taken_year"/>
<entry key="108" type="xstring" value="tags"/>
<entry key="109" type="xstring" value="Winner Cluster"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="13"/>
<entry key="0" type="xstring" value="lyon"/>
<entry key="1" type="xstring" value="franc"/>
<entry key="2" type="xstring" value="35mm"/>
<entry key="3" type="xstring" value="nikon"/>
<entry key="4" type="xstring" value="frankreich"/>
<entry key="5" type="xstring" value="summicron"/>
<entry key="6" type="xstring" value="leitz"/>
<entry key="7" type="xstring" value="rhônealp"/>
<entry key="8" type="xstring" value="summicronr"/>
<entry key="9" type="xstring" value="summicronr35mmf2"/>
<entry key="10" type="xstring" value="leitax"/>
<entry key="11" type="xstring" value="francechurch"/>
<entry key="12" type="xstring" value="rhonealp"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.knime.ext.textprocessing.data.DocumentValue" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="WARNING"/>
<entry key="message" type="xstring" value="Status: DataLoadError: Column Filter 2:81:93%%00010  Status: DataLoadError: Unable to load port content for node &quot;Column Filter&quot;: No such data file: /home/nicolas/Documents/Programation/DataMining/datamining-tp/Tag Processi (#81)/Column Filter (#93)/port_1/data.xml"/>
</config>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.3.1.v201612190931"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.3.1.v201612192115"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Filter"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
